@import "tailwindcss";

/* Ensure these styles do not conflict with LandingPage styles */
.bg-float {
  animation: float 12s ease-in-out infinite;
}

.bg-float-delay-1 {
  animation: float 12s ease-in-out 2s infinite;
}

.bg-float-delay-2 {
  animation: float 12s ease-in-out 4s infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}